@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
body {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

*::-webkit-scrollbar {
  background-color: #8294A34D;
}

*::-webkit-scrollbar-thumb {
  background-color: #8294A3;
  border-radius: 2px;
}

.PdfDisplayer-infiniteScroll::-webkit-scrollbar {
  background-color: transparent;
}

 